{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row">
    <div class="col-md-12 mb-5">
        <center><iframe width="560" height="315" src="https://www.youtube.com/embed/{{ id }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></center>
    </div>
</div>
<div class="row">
    <div class="col-md-6 ml-auto mr-auto">
        <form action="" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" value="Скачать" class="btn btn-info btn-block">
        </form>
    </div>
</div>
{% endblock %}
